<div class="jumbotron">
  <h1 class="display-4">Admin</h1>
  <p class="lead">Esta é a página administrativa do Blog do NodeJS</p>
  <hr class="my-4">
  <p>Este blog foi totalmente construído com NodeJS.</p>
  <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Gerenciar Categorias</a>
  <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Gerenciar postagens</a>
</div>